body{
	font-family: Helvetica,Arial,sans-serif;
    margin:0;	
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}



/*container*/
#container{
    margin: auto;
    width: 1349px;
}
    #navhead{
        display: flex;
        height: 83px;
        position: fixed;
        width: 1349px;
        z-index: 3;
    }
        .logo{
            margin-top:15px;
            margin-left: 15px;
            height: 60px;
        }
        .search{
            display: flex;
            height: 33px;
            margin-top: 25px;
            position: fixed;
            left: 185px;
            transition: top 0.3s;
            top: -70px;
        }
        .input_search{
            border: 1px solid grey;
            border-radius:  5px 0px 0px 5px;
            float: left;
            font-size: 15px;
            margin-left: 25px;
            padding: 10px;
            width: 275px;
            background: #f1f1f1;
          }
        .botton_search {
            border: 1px solid grey;
            border-left: none;
            border-radius:  0px 5px 5px 0px;    
            cursor: pointer;
            color: rgb(218, 218, 218);
            font-size: 15px;
            font-weight: 600;
            padding: 3px;
            width: 81px;
            background-color: rgb(6, 124, 0);
        }
            .botton_search:hover, #navhead li .login:hover, .header_search button:hover{
            background-color: rgb(1, 107, 0);
            color: rgb(218, 218, 218);
            cursor: pointer;
            }

        #navhead ul{
            display: flex;
            margin-left: auto;
            padding-top: 18px;
            padding-right: 35px;
            width: 385px;
        }
        #navhead a{
            color: black;
            margin-right: 28px;
        }
            #navhead a:hover{
            color: rgb(100, 100, 100);
            }
        #navhead ul li:nth-child(1), #navhead ul li:nth-child(2){
            font-size: 15.5px;
            font-weight: 700;
        }
        #navhead .login{
            border-radius: 5px;
            color: rgb(218, 218, 218);
            font-size: 13px;
            font-weight: 800;
            text-decoration: none;
            padding: 8px 15px;
            background-color: rgb(6, 124, 0);
        }


/*Header*/
    #header{
        height: 425px;
        padding-top: 125px;
        padding-left: 125px;
        background-image: url(img/bg_header.jpg);
        background-size: cover;
    }
        #motto_header{
            height: 222px;
            line-height:41px;
            width: 632px;
        }
        #motto_header p{
        font-size: 35px;
        font-weight: 600;
        }

        .header_search input{
            border-radius:  5px 0px 0px 5px;
            border: 1px solid rgb(0, 230, 207);
            font-size: 16px;
            height: 41px;
            padding-left: 15px;
            width: 445px;
        }
        .header_search button{
            border-radius:  0px 5px 5px 0px;    
            border: 1px solid grey;
            color: rgb(218, 218, 218);
            font-size: 16px;
            font-weight: 700;
            height: 45px;
            margin-left: -5px;
            margin-top: -1px;
            line-height: 35px;
            width: 99px;
            background-color: rgb(6, 124, 0);
        }
    

/*Main*/        
    #main{
        padding-bottom: 87px;
    }
    .judul_submain{
    font-size: 27px;
    text-align: center;
    }
        #container_categori{
            margin: auto;
            width: 815px;
            padding: 15px;
        }
        #container_categori h1{
            font-family: serif;
        }
            #categori{
                display: grid;
                grid-template-columns: 225px 225px ;
                justify-content: space-between;
                padding: 15px;
                width: 665px;
            }
            #categori div{
                margin-bottom: 55px;
            }
            #categori img{
                border: 2px solid #666;
                border-radius: 15px;
                height: 235px;
                width: 345px;
            }
            #categori div:hover img{
            transform: scale(1.05);
            opacity: 0.5;
            }
                #categori a p{
                    color: black;
                    font-size:23px;
                    font-weight: 700;
                    margin-top: -71px;
                    margin-left: 25px;
                }
                
/*How To Work*/
        #container_howtowork{
            padding:  35px 115px 110px 115px;
            text-align: center;
        }
            #howtowork{
                display: grid;
                grid-template-columns: 231px 231px 231px 231px;
                justify-content: space-between;
            }
                #howtowork .sekat{
                    border-radius: 15px;
                    padding:  35px 15px;
                    background-color: rgb(11, 170, 170);
                }
                    #howtowork .logo{
                        border-radius: 185px;
                        font-size: 61px;
                        height: 78px;
                        margin: auto;
                        padding: 15px;
                        width: 78px;
                        background-color: white;
                    }

/*Kenapa*/
        #container_why{
            
            padding: 25px 122px;
        }
            #why{
                display: grid;
                font: 16px/19px Helvetica,Arial,sans-serif;
                grid-template-columns: 311px 311px 311px;
                justify-content: space-between;
            }
                #why .sekat{
                    border-radius: 15px;
                    padding:  35px 25px;
                }

                #why .logo{
                    color: rgb(2, 118, 226);
                    font-size: 71px;
                    margin: auto;
                    padding:  5px 15px 35px 15px;
                    text-align: center;
                }
    

/*Footer*/
        #container_footer{
            height: 455px;
            display: grid;
            grid-template-columns: 255px 255px 255px 315px ;
            justify-content: space-between;
            padding:  15px 125px;
            background-color: rgb(0, 9, 37);
        }
            #container_footer ul h2{
                color: white;
                font-size: 25px;
            }
            #container_footer ul a{
                color: #888;
                font:15.5px/35px sans-serif;
            }
            #container_footer ul a:hover{
            color: #666;
            }
                .container_sosmed{
                    display: flex;
                }
                .sosmed {
                    border-radius: 25px;
                    cursor: pointer;
                    height: 26px;
                    margin-right: 8px;
                    padding: 9px 12px;
                    width: 20px;
                    background-color: rgb(255, 236, 208);
                }
                .sosmed:hover{
                transform: scale(1.09);
                opacity: 0.8;
                }
                    #container_footer .sosmed i{
                            font-size: 23px;
                        }
    /*copyright*/
        #copyright{
            color: rgb(255, 255, 255);
            font-size: 15px;
            height: 61px;
            text-align: center;
            padding-top: 18px;
            background-color: rgb(19, 0, 129);
        }
        

    
